main > section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
section:nth-child(2){
    width: 100px;;
}
section > h1{
    margin-bottom: 35px;
}
section > h1::first-letter{
    color: #2eb086;
    font-size: 35px;
}
section > h1 + p {
    text-align: justify;
}