main > section {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
    opacity: 0;
    transition: opacity 5s;
}
section:nth-child(2) {
  width: 100px;
}
section > h1:nth-child(1) {
  margin-bottom: 35px;
    text-shadow: 2px 2px 5px #2eb086;
}
section > h1::first-letter {
  color: #2eb086;
  font-size: 35px;
}
section > h1 + p {
  text-align: justify;
}
#floating {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

iframe,
audio {
  display: block;
  margin: 2rem auto;
}

@media print {
  .navbar {
    display: none;
  }

  h1 {
    page-break-after: avoid;
  }

  iframe,
  audio {
    display: none;
  }

  @page {
    margin: 1cm;
  }
}
