*{
  margin: 0;
  padding: 0;
}
body, html{
  background-color: #313552;
}
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login form{
    padding: 30px 25px 25px 25px;
    width: 20%;
  }
  .login form .row{
    height: 45px;
    margin-bottom: 15px;
    text-align: center;
  }
  .login form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
    padding-left: 5px;
  }
  form .row input::placeholder{
    color: #999;
  }
  .login form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #B8405E;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  form .button input:hover{
    background: #913a50;
  }