.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login form {
  padding: 30px 25px 25px 25px;
  width: 30%;
}
.login form .row {
  height: 45px;
  margin-bottom: 15px;
  text-align: center;
}
.login form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
  padding-left: 5px;
}
form .row input::placeholder {
  color: #999;
}
.login form .button input {
  color: #fff;
  font-size: clamp(1.1rem, 1.3rem, 1.8rem);
  font-weight: 500;
  padding-left: 0px;
  background: var(--action-color);
  border: none;
  cursor: pointer;
  width: 50%;
}
form .button input:hover {
  background: var(--action-color-secondary);
}

@media (max-width: 900px) {
  .login {
    flex-direction: column;
  }

  img {
    width: 40%;
  }

  .login form {
    width: 65%;
  }
}

@media (max-width: 450px) {
  .login {
    flex-direction: column;
  }

  img {
    width: 50%;
  }

  .login form {
    width: 100%;
  }
}
