.profile, .changePw{
    height: 500px;
    text-align: center;
    padding: 50px
}
.profile a{
    text-decoration: none;
    color: white;
}

.profile input[type=password], .changePw input[type=password] {
    padding: 7px;
    width: 30%;
    margin: 10px;
    outline: none;
}

.profile input[type=text], .changePw input[type=text] {
    padding: 7px;
    width: 30%;
    margin: 10px;
    outline: none;
}
.profile img{
    margin-bottom: 10px;
    border-radius: 50%;
}

.profile #button, .changePw #button{
    color: #fff;
  font-weight: bold;
  padding: 10px;
  background: var(--action-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
